html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:active,
a:hover,
a {
  text-decoration: none;
  color: #776A5E;
}

:root {
	--header-height: 70px;
}
.width-1000 {
	width: 1000px;
}
.width-900 {
	width: 900px;
}
.width-100perc {
	width: 100%;
}
.content-background {
	background: #f7f7f7;
}
.landing-header {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--header-height);
	width: 100%;
	background: white;
}
.flex {
	display: flex;
}
.align-c {
	align-items: center;
}
.column {
	flex-direction: column;
}
.justify-c {
	justify-content: center;
}
.justify-sb {
	justify-content: space-between;
}
.header-logo {
	margin-left: 25px;
}
.header-logo img {
	width: 40px;
	margin-right: 20px;
}
.header-logo-name {
	font-size: 18px;
	font-weight: 700;
	color: #776A5E;
}
.landing-header li {
	margin-right: 35px;
	font-size: 16px;
	font-weight: 700;
	color: #776A5E;
}
main {
	margin-top: var(--header-height);
}
.banner {
	width: 100%;
	background: #f0f0f0 url(../images/banner.png);
	background-position: center;
}
.banner img {
	width: 240px;
	margin-bottom: 20px;
}
.f50 {
	font-size: 50px;
}
.f24 {
	font-size: 24px;
}
.white {
	color: white;
}
.m-b25 {
	margin-bottom: 25px;
}
.m-b45 {
	margin-bottom: 45px;
}
.content-indent {
	padding-top: 70px;
	padding-bottom: 70px;
}
.h2-font {
	font-family: Arial, Helvetica, sans-serif;
}
.main-h2 {
	font-size: 28px;
	color: #252f40;
	font-weight: 700;
	margin-bottom: 14px;
}
.main-text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #252f40;
	margin-bottom: 12px;
}
.advantage {
	width: 320px;
}
.image {
	width: 35%;
}
.image img {
	width: 100%;
}
.about-text {
	width: 50%;
}
.header-feedback {
	margin-bottom: 25px;
}
.feedback-field {
	border: solid 2px #00BE9A;
	margin: 5px;
	padding: 10px;
	font-size: 20px;
	width: 400px;
	color: #1CCAA8;
}
.feedback {
	padding-top: 70px;
	padding-bottom: 70px;
}
legend {
	padding: 3px;
	font-weight: 700;
}
.feedback-field label {
	font-size: 16px;
	font-weight: 700;
	color: #3C3C3C;
}
fieldset input {
	float: right;
	border-radius: 7px;
	height: 21px;
	width: 180px;
	border: 1px solid #787878;
	outline: none;
}
fieldset select {
	background-color: white;
	margin-right: 35px;
	float: right;
	border-radius: 7px;
	height: 25px;
	width: 150px;
	border: 1px solid #787878;
	outline: none;
}
fieldset p {
	margin: 12px;
}
.btn {
 	font-size: 18px;
	font-weight: 700;
 	background-color: transparent; 
 	border-radius: 6px;
 	cursor: pointer;
 	margin: 4px;
 }
a.btn-white:hover,
a.btn-white:active,
.btn-white {
	border: 2px solid white;
	color: white;
    display: inline-block;  
    padding: 10px 10px; 
    text-decoration: none; 
 }
.btn-green {
	padding: 8px 18px;
	border: 2px solid #00BE9A;
	color: #1CCAA8;
}
footer {
	border: solid #2d3544;
	background-color: #2d3544;
}
.footer-logo {
	width: 180px;
	padding: 10px;
	margin-bottom: 12px;
}
.footer-logo img {
	width: 40px;
	margin-right: 15px;
}
.footer-logo-name {
	font-size: 18px;
	color: #d1d2d5;
}
.copyright {
	color: #d1d2d5;
	padding: 10px;
}
.footer-part {
	color: #d1d2d5;
}
.footer {
	justify-content: space-around;
}
.footer-h2 {
	color: #d1d2d5;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}
footer ul {
	list-style-type: disc;
	padding-left: 30px;
}