html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #252f40;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:active,
a:hover,
a {
  text-decoration: none;
  color: #776A5E;
}
:root {
	--header-height: 70px;
}
header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 3%;
  height: var(--header-height);
  background-color: white;
}
header .nav {
  float: right;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
  display: flex;
}
header .links {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
header .links li {
  font-size: 16px;
  font-weight: 700;
  color: #776A5E;
}
header .links a {
  display: block;
  padding: .5em;
}
header .links a:hover {
	color: #00BE9A;
}
#nav-toggle {
  position: absolute;
  display: none;
}
header .icon-burger {
  display: none;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}
header .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #776A5E;
  margin: 5px;
  border-right: 3px;
}
.container {
	padding-top: 70px;
	padding-bottom: 70px;
}
.max-width-1000px {
	max-width: 1000px
}
.width-100per {
	width: 100%;
}
.main-img {
	width: 35%;
	min-width: 310px;
}
.main-text {
	width: 50%;
}
.advantages-item {
	width: 32%;
}
.background-grey {
	background: #f7f7f7;
}
.footer-background {
	background: #2d3544;
}
.flex {
	display: flex;
}
.align-items-c {
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap-rev {
	flex-wrap: wrap-reverse;
}
.flex-direction-column {
	flex-direction: column;
}
.justify-cont-center {
	justify-content: center;
}
.justify-cont-space-b {
	justify-content: space-between;
}
.justify-cont-space-ar {
	justify-content: space-around;
}
.margin-7 {
	margin: 7px;
}
.margin-left-25 {
	margin-left: 25px;
}
.header-logo-img {
	width: 40px;
	margin-right: 5%;
}
.header-logo-name {
	font-size: 18px;
	font-weight: 700;
	color: #776A5E;
}
main {
	margin-top: var(--header-height);
  position: relative;
}
.banner {
	width: 100%;
	padding: 30px 0;
	background: #f0f0f0 url(../images/banner.png);
	background-position: 20% 65%;
	background-size: cover;
}
.banner img {
	width: 180px;
	margin-bottom: 15px;
}
.f50 {
	font-size: 50px;
	line-height: 105%;
}
.f20 {
	font-size: 20px;
}
.white {
	color: white;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-12 {
	margin-bottom: 12px;
}
.margin-bottom-25 {
	margin-bottom: 25px;
}
.margin-12 {
	margin: 12px;
}
.margin-top-3 {
	margin-top: 3px;
}
.p-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.h2-font {
	font-family: Arial, Helvetica, sans-serif;
}
.main-h2 {
	font-size: 28px;
	color: #252f40;
	font-weight: 700;
	margin-bottom: 14px;
}
.feedback-field {
	box-sizing: border-box;
	border: solid 2px #00BE9A;
	margin: 5px;
	padding: 10px;
	font-size: 20px;
	max-width: 400px;
	color: #1CCAA8;
}
legend {
	padding: 3px;
	font-weight: 700;
}
.feedback-field label {
	font-size: 16px;
	font-weight: 700;
	color: #3C3C3C;
}
fieldset input {
	float: right;
	border-radius: 7px;
	height: 21px;
	width: 180px;
	border: 1px solid #787878;
	outline: none;
}
fieldset select {
	background-color: white;
	margin-right: 35px;
	float: right;
	border-radius: 7px;
	height: 25px;
	width: 150px;
	border: 1px solid #787878;
	outline: none;
}
.btn {
 	font-size: 18px;
	font-weight: 700;
 	background-color: transparent;
 	border-radius: 6px;
 	cursor: pointer;
 	margin: 4px;
 }
a.btn-white:active,
.btn-white {
	border: 2px solid white;
	color: white;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
 }
 a.btn-white:hover {
	 border: 2px solid #00BE9A;
	 background-color: rgba(255, 255, 255, .4);
	 color: #00BE9A;
 }
.btn-green {
	padding: 8px 18px;
	border: 2px solid #00BE9A;
	color: #1CCAA8;
}
.btn-green:hover {
	background-color: #00BE9A;
	color: white;
}
.footer-logo {
	width: 180px;
	margin-bottom: 12px;
}
.footer-logo img {
	width: 40px;
	margin-right: 15px;
}
.footer-logo-name {
	font-size: 18px;
	color: #d1d2d5;
}
.copyright {
	color: #d1d2d5;
	padding: 20px 10px 10px 10px;
}
.light-gray-color {
	color: #d1d2d5;
}
.footer-h2 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}
footer ul {
	list-style-type: disc;
	padding-left: 30px;
}
