@media only screen and (max-width: 870px) {
  header .nav {
    width: 60%;
  }
	.main-text {
		width: 80%;
	}
	.main-img {
		width: 80%;
	}
	.container {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	#advantages {
		flex-direction: column;
		align-items: center;
	}
	#advantages h2 {
		text-align: center;
	}
	#advantages p {
		margin-bottom: 16px;
	}
	#about h2, #places h2 {
		text-align: center;
	}
	.advantages-item {
		width: 65%;
	}
}
