html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--header-height: 70px;
}
.width-1400 {
	width: 1400px;
}
.width-1000 {
	width: 1000px;
}
.width-100perc {
	width: 100%;
}
.content-background {
	background: #e5e5e5;
}
header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	height: var(--header-height);
	width: 100%;
	background: white;
}
.header-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	padding: 10px;
}
.header-logo img {
	width: 60px;
	margin-right: 40px;
}
.header-logo-name {
	font-size: 22px;
	color: #776A5E;
}
.header-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-nav li {
	margin-right: 35px;
	font-size: 22px;
	color: #776A5E;
}
main {
	margin-top: var(--header-height);
}
.first-block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	height: 550px;
	background: #f0f0f0 url(../images/banner.png);
	background-position: center;
}
.first-block-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 450px;
	/*justify-content: space-around;*/
}
.first-block-content img {
	width: 240px;
	margin-bottom: 20px;
}
.first-block-name {
	font-size: 50px;
	color: white;
	margin-bottom: 25px;
}
.tagline {
	font-size: 24px;
	color: white;
	margin-bottom: 45px;
}
.first-block-content button {
	border-radius: 6px;
	padding: 5px 10px;
	border: 2px solid white;
	font-size: 20px;
	color: white;
	background-color: transparent;
	cursor: pointer;
}
.presentation-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}
.content-block {
	margin-top: 70px;
	margin-bottom: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.main-h2 {
	font-size: 30px;
	margin-bottom: 14px;
}
.main-text {
	font-size: 20px;
	margin-bottom: 12px;
}
.advantage {
	width: 440px;
}
.content {
	width: 1000px;
}
.about-block {
	display: flex;
	align-items: center;
	justify-content: center;
}
.image {
	width: 35%;
}
.about-text {
	width: 50%;
}